# langchain related
langchain
loguru

psycopg2
psycopg2cffi
pandas
datasets
sentence-transformers

# huggingface related
transformers # to adapt llama2
accelerate
tokenizers
unstructured[local-inference]

# vectorstore related
faiss-cpu

streamlit

python-dotenv